:root {
  --clr-theme-primary: #2f4b34;
  --clr-theme-oposite: #752b0b;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.name-banner {
  display: grid;
  grid-template-columns: 1fr [brand-start] auto [brand-end] 1fr;
  justify-items: center;
  background-color: var(--clr-theme-primary);
  padding-block: 3rem;
}
.name-banner > * {
  grid-column: brand;
}

.name-panel {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-theme-oposite);
  max-width: max (70% 400px);
  padding-block: 1rem;
  padding-inline: 1.8rem;
  box-shadow: 1px 1px 10px 2px rgba(255, 199, 101, 0.25), -1px -1px 10px 2px rgba(255, 199, 101, 0.25);
}

.brand {
  text-align: center;
  color: var(--clr-theme-primary);
}

h1.brand,
h2.brand > span {
  --text-shadow: rgba(255, 199, 101);
  position: relative;
  text-wrap: nowrap;
  /* color: #303030; */
  /* text-shadow: -2px 0px 2px var(--text-shadow), 2px 0px 2px var(--text-shadow); */
  /* box-shadow: inset 0 2px 25px 5px rgba(255, 199, 101, 0.25); */
}

h1.brand::before,
h1.brand::after,
h2.brand > span::before,
h2.brand > span::after {
  position: absolute;
  content: attr(data-text);
  color: rgba(255, 255, 165, 0.2);
}

h1.brand::before,
h2.brand > span::before {
  top: 1px;
  left: 1px;
}

h1.brand::after,
h2.brand > span::after {
  top: 2px;
  left: 2px;
}

h1.brand {
  font-size: 4rem;
}

h2.brand {
  font-size: 1.3rem;
}
