body {
  font-family: "Times New Roman", Times, serif;
}

.backlight {
  --clr-theme-primary: #2f4b34;
  --clr-theme-oposite: #752b0b;
  display: grid;
  grid-template-columns: 1fr [brand-start] auto [brand-end] 1fr;
  justify-items: center;
  background-color: var(--clr-theme-primary);
  padding-block: 3rem;
}
.backlight-board {
  grid-column: brand;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-theme-oposite);
  max-width: max (70% 400px);
  padding-block: 1rem;
  padding-inline: 1.8rem;
  box-shadow: 1px 1px 10px 2px rgba(255, 199, 101, 0.25), -1px -1px 10px 2px rgba(255, 199, 101, 0.25);
}

.backlight-strip {
  --text-shadow: rgba(255, 199, 101);
  text-align: center;
  text-wrap: nowrap;
  position: relative;
  color: var(--clr-theme-primary);
}

.backlight-strip::before,
.backlight-strip::after {
  position: absolute;
  content: attr(data-text);
  color: rgba(255, 255, 165, 0.2);
}

.backlight-strip::before {
  top: 1px;
  left: 1px;
}

.backlight-strip::after {
  top: 2px;
  left: 2px;
}

.backlight-strip.large {
  font-size: 4rem;
}

.backlight-strip.small {
  font-size: 1.3rem;
}
